body,
html {
  overflow-x: hidden;
  overflow-y: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* NAVBAR */
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  background: white;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
.nav-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-center {
  display: flex;
  justify-content: center;
}
.nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  font-size: 18px;
  color: #222;
  font-weight: 500;
}
.nav-right {
  display: flex;
  gap: 25px;
  align-items: center;
}
.login-btn {
  background: none;
  border: none;
  color: #d36a08;
  cursor: pointer;
  font-size: 18px;
}
.signup-btn {
  background: #de760d;
  color: #fff;
  padding: 10px 24px;
  border-radius: 8px;
  border: none;
  box-shadow: 0 4px 18px rgba(222, 118, 13, 0.3);
  cursor: pointer;
  font-size: 18px;
}
.section {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
#home {
  height: 100vh;
  padding-top: 150px;
  background: #d9d7d6ff;
}
.home-left {
  padding-left: 8rem;
  padding-bottom: 10rem;
  width: 50vw;
  font-size: 2rem;
  line-height: 1.1;
}
.home-left span {
  color: #d36a08;
}
.home-left p {
  font-size: 20px;
  line-height: 1.7;
}
.home-left button {
  margin-top: 1rem;
  background: white;
  border: 2px solid orange;
  color: orange;
  padding: 12px 22px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
}
.home-right {
  padding-bottom: 20rem;
  padding-right: 5rem;
}
.hero-image-container {
  position: relative;
  padding-right: 20rem;
  width: 620px;
  height: 600px;
}
.hero-circle {
  position: absolute;
  bottom: 0;
  width: 400px;
  height: 400px;
  margin-left: 5rem;
  margin-bottom: 2rem;
  background: #ff7a28;
  border-radius: 50%;
  clip-path: ellipse(80% 55% at 50% 85%);
  z-index: 1;
}
.hero-img {
  position: absolute;
  bottom: 0;
  margin-bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 450px;
  z-index: 2;
}
.tag {
  position: absolute;
  background: white;
  padding: 15px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  gap: 14px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.12);
  z-index: 3;
}
.tag-icon {
  width: 30px;
}
.tag1 {
  top: 15rem;
  left: 1rem;
}
.tag2 {
  top: 200px;
  right: -50px;
  margin-top: 5rem;
}
.tag3 {
  bottom: 50px;
  left: 30px;
  margin-bottom: 8rem;
}
#search-section {
  position: relative;
  top: -150px;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 25rem;
}
.search-box {
  position: relative;
  background: #ffffff;
  padding: 20px 30px;
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 40px;
  border-radius: 18px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
}
.search-item h4 {
  font-size: 18px;
  font-weight: 600;
}
.arrow {
  color: #ff7a28;
  font-size: 16px;
  margin-left: 5px;
}
.search-item p {
  color: #777;
  font-size: 14px;
  margin-top: 6px;
}
.search-btn {
  background: #ff7a28;
  color: #fff;
  border: none;
  padding: 20px;
  width: 15vw;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 6px 20px rgba(255, 122, 40, 0.3);
}
#about {
  background: #e1ddddff;
  padding-bottom: 35rem;
  display: block !important;
  padding: 2rem;
}
.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 5rem;
}
#about h1 {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
}
#about h1 span {
  color: orange;
  font-family: "Playfair Display", serif;
}
#about p {
  padding-top: 1rem;
  font-size: 20px;
}
.about-boxes {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding-top: 2rem;
}
.about-content {
  padding-top: 5rem;
  background: white;
  width: 25rem;
  padding: 3rem;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
}
.about-content .content-1 {
  font-family: "Poppins", sans-serif;
  padding-top: 4rem;
}
.about-content .content-1 .sign-up {
  font-size: 2rem !important;
}
#destination {
  background: #d6cdcdff;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 5rem;
  font-size: 2rem;
  padding-bottom: 2rem;
  padding: 1rem;
}
#destination .des-text {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  padding-top: 2rem;
}
#destination .des-text h1 span {
  color: #ff4d01;
}
#destination p {
  font-size: 25px;
}
.card {
  width: 400px;
  height: 350px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}
.card-img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}
.card-content {
  padding: 8px;
  padding-top: 2rem;
}
.title {
  margin: 5px 0 10px 0;
  font-size: 10px;
}
.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #666;
  font-size: 18px;
  font-weight: bold;
}
.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 18px;
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.price .location1 {
  font-size: 15px;
}
.price .price-row1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.price-row2 {
  display: flex;
  justify-content: space-around;
  font-size: 10px;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  font-size: 18px;
  padding-right: 10px;
}

.new-price {
  color: #e85b3f;
  font-weight: bold;
  font-size: 18px;
}

.card-container {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  gap: 1rem;
}

#tour {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #f6f2edff;
  padding: 2rem;
}
#tour .tour-text .tour-heading {
  padding-top: 7rem;
  font-size: 4rem;
  font-family: "Playfair Display", serif;
}

#tour .tour-text .tour-heading span {
  color: #ff4d01;
  font-family: "Playfair Display", serif;
}
#tour .tour-text p {
  font-size: 30px;
}

#tour .tour-boxes {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
}

#blog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  background: #ede2e1;
}

#blog .blog-left {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
}

#blog .blog-left h1 {
  font-family: "Playfair Display", serif;
}

#blog .blog-left span {
  color: #ff4d01;
  font-family: "Playfair Display", serif;
}

#blog .blog-left p {
  font-size: 20px;
}

.testimonial-wrapper {
  position: relative;
  width: 700px;
  margin: 100px auto;
}

.back-card {
  width: 100%;
  height: 350px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 0;
  z-index: 1;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}

.testimonial-card {
  width: 100%;
  min-height: 300px;
  background: white;
  padding: 40px 30px 30px;
  border-radius: 18px;
  position: relative;
  z-index: 2;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
.testimonial-card .text {
  padding-top: 5rem;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: -40px;
  left: -15px;
  border: 4px solid white;
}

.text {
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.name {
  font-weight: 700;
  margin-bottom: 3px;
}

.location {
  color: #888;
  font-size: 14px;
}

#another {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #e1d5d4ff;
  padding: 2rem;
}

#another .another-container {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
}

#another .another-container h1 {
  padding-top: 7rem;
  font-family: "Playfair Display", serif;
}

#another .another-container span {
  color: #ff4d01;
  font-family: "Playfair Display", serif;
}

#another .another-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
}

.latest-card {
  width: 400px;
  height: 450px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.latest-card .latest-card-content .title {
  font-size: 20px;
  text-align: start;
  padding-left: 1rem;
  padding-top: 1rem;
}

.latest-card .latest-card-content .para-text {
  text-align: start;
  font-size: 15px;
  padding-left: 1rem;
  padding-bottom: 3rem;
}

.latest-card-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#footer {
  background: #ede2e1;
  display: block;
  text-align: center;
  padding-top: 8rem;
  height: auto;
}
#footer .footer-top {
  background: #f67037ff;
  width: 900px;
  height: 400px;
  font-size: 2rem;
  color: white;
  border-radius: 2rem;
  margin-left: 18rem;
}

#footer .footer-top h1 {
  font-family: "Playfair Display", serif;
  padding-top: 5rem;
}

#footer .footer-top input {
  border-radius: 1rem;
  font-size: 20px;
  width: 60%;
  padding: 20px;
  margin-top: 3rem;
  border: none;
}

#footer .footer-top button {
  background: white;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  color: black;
  border: none;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  text-align: start;
  gap: 30px;
  flex-wrap: wrap;
  padding-top: 14rem;
  font-size: 20px;
}

.footer-left h2 {
  margin-bottom: 10px;
  font-weight: 700;
}

.footer-left p {
  color: #777;
  margin-bottom: 20px;
  line-height: 1.6;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.icon.orange {
  background: #ff7a3d;
  color: #fff;
}

.footer-col {
  display: flex;
  flex-direction: column;
}

.footer-col h3 {
  font-size: 30px;
  margin-bottom: 12px;
  font-weight: 600;
}

.footer-col a {
  color: #777;
  margin: 5px 0;
  text-decoration: none;
  font-size: 20px;
}

.footer-col a:hover {
  color: #ff7a3d;
}

.footer-bottom {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
  color: #777;
  font-size: 20px;
  border-top: 1px solid grey;
  margin-top: 3rem;
}

.footer-bottom a {
  color: #777;
  text-decoration: none;
}

.footer-bottom a:hover {
  color: #ff7a3d;
}

@media (max-width: 1400px) {
  #home {
    display: flex;
    justify-content: space-between;
  }
  #home .home-left {
    padding-left: 5rem;
    padding-top: 5rem;
  }
  #home .home-left h1 {
    font-size: 3rem;
    width: 100vw;
  }
  #home .home-left p {
    font-size: 20px;
    width: 100vw;
  }
  .home-right {
    padding-top: 25rem;
    padding-right: 15rem;
  }

  .hero-image-container {
    position: relative;
    width: 300px;
    height: 250px;
  }

  .hero-circle {
    position: absolute;
    width: 250px;
    height: 250px;
    background: #ff7a28;
    left: 4rem;
    bottom: 2rem;
    border-radius: 50%;
    clip-path: ellipse(80% 55% at 50% 85%);
    z-index: 1;
  }

  .hero-img {
    position: absolute;
    bottom: 0;
    margin-bottom: 5rem;
    left: 85%;
    transform: translateX(-50%);
    width: 350px;
    z-index: 2;
  }

  .tag {
    position: absolute;
    background: white;
    padding: 10px;
    border-radius: 18px;
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.12);
    z-index: 3;
  }

  .tag-icon {
    width: 10px;
  }

  .tag1 {
    top: -2rem;
    left: 4rem;
  }

  .tag2 {
    top: -80px;
    right: -150px;
    margin-top: 5rem;
  }

  .tag3 {
    bottom: 25px;
    left: 40px;
    margin-bottom: 8rem;
  }
  #search-section {
    top: 2rem;
    z-index: 10;
  }
  .search-box {
    background: #ffffff;
    padding: 10px 20px;
    width: 100%;
    gap: 20px;
    border-radius: 18px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  }
  .search-item h4 {
    font-size: 15px;
  }
  .arrow {
    color: #ff7a28;
    font-size: 10px;
    margin-left: 5px;
  }
  .search-item p {
    color: #777;
    font-size: 10px;
    margin-top: 6px;
  }
  .search-btn {
    background: #ff7a28;
    color: #fff;
    width: 20vw;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 0px 6px 20px rgba(255, 122, 40, 0.3);
  }

  #about .heading {
    font-size: 4rem;
  }
  #about p {
    font-size: 20px;
    text-align: center;
  }
  .about-content {
    height: 20rem;
  }
  .about-content img {
    width: 60px;
    margin-top: 0rem;
  }
  .about-content .content-1 {
    font-family: "Poppins", sans-serif;
    padding-top: 0px;
  }
  #destination .des-text {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
  }
  #destination p {
    font-size: 25px;
  }
  #tour .tour-text .tour-heading {
    font-size: 4rem;
  }
  #tour .tour-text p {
    font-size: 25px;
  }
  #blog .blog-left {
    font-size: 2rem;
  }
  #blog .blog-left p {
    font-size: 20px;
  }
  .testimonial-wrapper {
    position: relative;
    width: 450px;
  }
  #another .another-container h1 {
    font-size: 3rem;
  }
  #another .another-container h1 {
    font-size: 3rem;
    font-family: "Playfair Display", serif;
  }
  #another .latest-card {
    width: 400px;
    height: 450px;
    margin: 0 auto;
    padding-bottom: 1rem;
  }
  .latest-card-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  #footer .footer-top {
    width: 90%;
    max-width: 100%;
    padding: 1.5rem 1rem;
    margin: 0 auto;
    border-radius: 1rem;
  }
  .footer-top h1 {
    font-size: 3rem;
  }

  .footer-container {
    flex-direction: row;
    align-items: start;
    gap: 1.5rem;
    margin-top: 3rem;
  }
  .footer-col h3 {
    font-size: 20px;
  }
  .footer-col a {
    font-size: 14px;
  }
  .footer-bottom {
    font-size: 14px;
    padding: 1.5rem 0;
    gap: 1rem;
  }
}

@media (max-width: 1200px) {
  #home {
    display: flex;
    justify-content: space-between;
  }
  #home .home-left {
    padding-left: 5rem;
    padding-top: 5rem;
  }
  #home .home-left h1 {
    font-size: 3rem;
    width: 100vw;
  }
  #home .home-left p {
    font-size: 20px;
    width: 100vw;
  }
  .home-right {
    padding-top: 25rem;
    padding-right: 15rem;
  }

  .hero-image-container {
    position: relative;
    width: 300px;
    height: 250px;
  }

  .hero-circle {
    position: absolute;
    width: 250px;
    height: 250px;
    background: #ff7a28;
    left: 4rem;
    bottom: 2rem;
    border-radius: 50%;
    clip-path: ellipse(80% 55% at 50% 85%);
    z-index: 1;
  }

  .hero-img {
    position: absolute;
    bottom: 0;
    margin-bottom: 5rem;
    left: 85%;
    transform: translateX(-50%);
    width: 350px;
    z-index: 2;
  }

  .tag {
    position: absolute;
    background: white;
    padding: 10px;
    border-radius: 18px;
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.12);
    z-index: 3;
  }

  .tag-icon {
    width: 10px;
  }

  .tag1 {
    top: -2rem;
    left: 4rem;
  }

  .tag2 {
    top: -80px;
    right: -150px;
    margin-top: 5rem;
  }

  .tag3 {
    bottom: 25px;
    left: 40px;
    margin-bottom: 8rem;
  }
  #search-section {
    top: 2rem;
    z-index: 10;
  }
  .search-box {
    background: #ffffff;
    padding: 10px 20px;
    width: 100%;
    gap: 20px;
    border-radius: 18px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  }
  .search-item h4 {
    font-size: 15px;
  }
  .arrow {
    color: #ff7a28;
    font-size: 10px;
    margin-left: 5px;
  }
  .search-item p {
    color: #777;
    font-size: 10px;
    margin-top: 6px;
  }
  .search-btn {
    background: #ff7a28;
    color: #fff;
    width: 20vw;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 0px 6px 20px rgba(255, 122, 40, 0.3);
  }

  #about .heading {
    font-size: 4rem;
  }
  #about p {
    font-size: 20px;
    text-align: center;
  }
  .about-content {
    height: 20rem;
  }
  .about-content img {
    width: 60px;
    margin-top: 0rem;
  }
  .about-content .content-1 {
    font-family: "Poppins", sans-serif;
    padding-top: 0px;
  }
  #destination .des-text {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
  }
  #destination p {
    font-size: 25px;
  }
  #tour .tour-text .tour-heading {
    font-size: 4rem;
  }
  #tour .tour-text p {
    font-size: 25px;
  }
  #blog .blog-left {
    font-size: 2rem;
  }
  #blog .blog-left p {
    font-size: 20px;
  }
  .testimonial-wrapper {
    position: relative;
    width: 450px;
  }
  #another .another-container h1 {
    font-size: 3rem;
  }
  #another .another-container h1 {
    font-size: 3rem;
    font-family: "Playfair Display", serif;
  }
  #another .latest-card {
    width: 400px;
    height: 450px;
    margin: 0 auto;
    padding-bottom: 1rem;
  }
  .latest-card-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  #footer .footer-top {
    width: 90%;
    max-width: 100%;
    padding: 1.5rem 1rem;
    margin: 0 auto;
    border-radius: 1rem;
  }
  .footer-top h1 {
    font-size: 3rem;
  }

  .footer-container {
    flex-direction: row;
    align-items: start;
    gap: 1.5rem;
    margin-top: 3rem;
  }
  .footer-col h3 {
    font-size: 20px;
  }
  .footer-col a {
    font-size: 14px;
  }
  .footer-bottom {
    font-size: 14px;
    padding: 1.5rem 0;
    gap: 1rem;
  }
}

@media (max-width: 992px) {
  #home .home-left {
    padding-left: 2rem;
  }
  #home .home-left h1 {
    font-size: 4rem;
    width: 100vw;
  }
  #home .home-left p {
    font-size: 20px;
    width: 100vw;
  }
  .home-left button {
    margin-left: 20rem;
  }
  .home-right {
    padding-left: 15rem;
  }
  #search-section {
    padding-top: 8rem;
    z-index: 10;
  }

  #about .heading {
    font-size: 3rem;
  }
  #about p {
    font-size: 20px;
  }
  .about-boxes {
    margin-left: 16rem;
  }
  #destination .des-text {
    font-size: 1.5rem;
  }
  #tour .tour-text p {
    font-size: 20px;
  }
  #blog .blog-left {
    font-size: 2rem;
  }
  #blog .blog-left p {
    font-size: 20px;
  }
  .testimonial-wrapper {
    position: relative;
    width: 600px;
  }
  #another .another-container h1 {
    font-size: 3rem;
  }
  #another .another-container h1 {
    font-size: 3rem;
    font-family: "Playfair Display", serif;
  }
  #another .latest-card {
    width: 400px;
    height: 450px;
    margin: 0 auto;
  }
  .latest-card-img {
    width: 100%;
    height: 310px;
    object-fit: cover;
  }

  #footer .footer-top {
    width: 90%;
  }
  .footer-top h1 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  #home .home-left {
    padding-left: 1rem;
  }
  #home .home-left h1 {
    font-size: 4rem;
    width: 100vw;
  }
  #home .home-left p {
    font-size: 20px;
    width: 100vw;
  }
  .home-left button {
    margin-left: 15rem;
  }
  .home-right {
    margin-left: 7rem;
  }

  #search-section {
    margin-top: 6rem;
  }
  #about .heading {
    font-size: 3rem;
  }
  #about p {
    font-size: 18px;
  }
  .about-boxes {
    margin-left: 8rem;
  }
  #another .another-container h1 {
    font-size: 3rem;
    font-family: "Playfair Display", serif;
  }
  #another .latest-card {
    width: 400px;
    height: 350px;
    margin: 0 auto;
  }
  .latest-card-img {
    width: 100%;
    height: 210px;
    object-fit: cover;
  }
}

@media (max-width: 576px) {
  #home .home-left {
    padding-left: 6rem;
  }
  #home .home-left h1 {
    font-size: 40px;
    padding-left: 0px;
  }
  #home .home-left p {
    font-size: 15px;
    width: 100vw;
    padding-right: 12rem;
  }

  #about .heading {
    font-size: 3rem;
  }
  #about p {
    font-size: 18px;
  }
  .about-boxes {
    padding-left: 4rem;
  }
  #another .latest-card {
    width: 300px;
    height: 350px;
    margin-left: 6rem;
  }
  .latest-card-img {
    width: 100%;
    height: 210px;
    object-fit: cover;
  }
}

@media (max-width: 480px) {
  #home {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
  }
  #home .home-left h1 {
    font-size: 25px;
    text-align: center;
    width: 70vw;
    padding-right: 3rem;
  }
  #home .home-left p {
    font-size: 10px;
    width: 60vw;
    padding-right: 2rem;
  }
  .home-left button {
    background: white;
    border: 2px solid orange;
    color: orange;
    padding: 10px;
    width: 30vw;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 4rem;
  }

  .hero-image-container {
    position: relative;
    width: 300px;
    height: 250px;
  }

  .hero-circle {
    position: absolute;
    width: 250px;
    height: 250px;
    background: #ff7a28;
    left: 4rem;
    bottom: 2rem;
    border-radius: 50%;
    clip-path: ellipse(80% 55% at 50% 85%);
    z-index: 1;
  }

  .hero-img {
    position: absolute;
    bottom: 0;
    margin-bottom: 5rem;
    left: 85%;
    transform: translateX(-50%);
    width: 350px;
    z-index: 2;
  }

  .tag {
    position: absolute;
    background: white;
    padding: 10px;
    border-radius: 18px;
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.12);
    z-index: 3;
  }

  .tag-icon {
    width: 10px;
  }

  .tag1 {
    top: -2rem;
    left: 4rem;
  }

  .tag2 {
    top: -80px;
    right: -150px;
    margin-top: 5rem;
  }

  .tag3 {
    bottom: 25px;
    left: 40px;
    margin-bottom: 8rem;
  }
  #search-section {
    top: 14rem;
    z-index: 10;
  }
  .search-box {
    background: #ffffff;
    padding: 10px 20px;
    width: 100%;
    gap: 20px;
    border-radius: 18px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  }
  .search-item h4 {
    font-size: 15px;
  }
  .arrow {
    color: #ff7a28;
    font-size: 10px;
    margin-left: 5px;
  }
  .search-item p {
    color: #777;
    font-size: 10px;
    margin-top: 6px;
  }
  .search-btn {
    background: #ff7a28;
    color: #fff;
    width: 20vw;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 0px 6px 20px rgba(255, 122, 40, 0.3);
  }
  #about {
    height: auto;
  }
  #about h1 {
    font-size: 1.6rem;
    padding-top: 9rem;
    text-align: center;
  }
  #about p {
    font-size: 14px;
    text-align: center;
  }
  .about-boxes {
    height: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
    padding: 1rem;
    padding-bottom: 5rem;
  }
  .about-content {
    max-width: 380px;
    gap: 0.8rem;
    height: 22rem;
    padding: 1rem 1rem;
    font-size: 16px;
    position: relative;
    z-index: 3;
  }
  #about h1 {
    text-align: center;
    font-size: 1.6rem;
  }
  .about-content img {
    width: 60px;
    margin-top: 0rem;
  }
  .about-content .content-1 {
    font-family: "Poppins", sans-serif;
    padding-top: 0px;
  }
  #destination .des-text {
    font-family: "Playfair Display", serif;
    font-size: 1rem;
  }
  #destination p {
    font-size: 18px;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
  }

  .card {
    width: 300px;
    height: 340px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  }
  #tour {
    gap: 1rem;
  }
  #tour .tour-text .tour-heading {
    padding-top: 3rem;
    font-size: 3rem;
    font-family: "Playfair Display", serif;
  }
  #tour .tour-text p {
    font-size: 15px;
  }
  #tour .tour-boxes {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    width: 100%;
  }
  #blog {
    display: flex;
    flex-direction: column;
    background: #ede2e1;
  }
  #blog .blog-left {
    font-size: 1rem;
    font-family: "Playfair Display", serif;
  }
  #blog .blog-left p {
    font-size: 12px;
  }
  .testimonial-wrapper {
    position: relative;
    width: 300px;
  }
  #another .another-container h1 {
    padding-top: 2rem;
    font-size: 2rem;
    font-family: "Playfair Display", serif;
  }
  #another .another-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
  }
  #footer {
    padding: 3rem 1rem;
  }
  #footer .footer-top {
    width: 100%;
    max-width: 100%;
    padding: 1.5rem 1rem;
    margin: 0 auto;
    border-radius: 1rem;
  }
  .footer-top h1 {
    font-size: 1.4rem;
  }
  .footer-top input {
    width: 90%;
    font-size: 14px;
    padding: 12px;
  }
  .footer-top button {
    font-size: 14px;
    padding: 10px 15px;
  }
  .footer-container {
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
    margin-top: 3rem;
  }
  .footer-col h3 {
    font-size: 20px;
  }
  .footer-col a {
    font-size: 14px;
  }
  .footer-bottom {
    font-size: 14px;
    padding: 1.5rem 0;
    gap: 1rem;
  }
}
